* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #D3F4F6;
    font-family: Ubuntu, Arial, sans-serif;
    min-height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.App {
    display: flex;
    flex-direction: row;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
    list-style: none;
}

h2 {
    font-family: Ubuntu;
}